<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <form name="miniUrlCtrl.dataForm" ng-submit="miniUrlCtrl.minifyLongUrl()" novalidate>
                    <h3>Greetings. Thank you for using this URL Minifier.</h3>
                    <p><span class="control-label glyphicon glyphicon-pencil"></span> &nbsp Enter your long URL below and hit the button to get your minified URL.</p>
                    <div class="form-group">
                        <div ng-class="{'has-error': miniUrlCtrl.isFieldInErrorState('longUrl')}">
                        	<!--  autofocus does not work in Firefox version 52.2.1 (and less?) (32 bit) -->
                            <textarea name="longUrl" id="longUrlTextArea" class="form-control" ng-model="miniUrlCtrl.longUrl" rows="15" style="resize:vertical" 
                                placeholder="Enter a valid URL (no whitespaces, prepended 'http(s)://'), e.g. http://www.debka.co.il, the author's favorite web  site." 
                                ng-pattern="/^https?:\/\/\S+$/i" tabindex="1" autofocus set-focus required>
                            </textarea>
                            <span id="validUrlErrorSpan" ng-show="miniUrlCtrl.isFieldInErrorState('longUrl')" class="help-block">A valid URL is required (no whitespaces, prepended 'http(s)://').</span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="longUrlSubmitBtn" type="submit" class="btn btn-primary" ng-disabled="miniUrlCtrl.isOkToSubmit()==false" tabindex="2">Minify Long URL</button>
                        <button id="longUrlResetBtn"  type="button" class="btn btn-default" ng-click="miniUrlCtrl.resetForm()"              tabindex="3">Reset</button>
                        <img  ng-if="miniUrlCtrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        <span ng-if="miniUrlCtrl.dataLoading">Minifiying ... </span>
                    </div>
                </form>
             </div>
             <div class="well" ng-if="miniUrlCtrl.errorString.length==0">
                <p ng-if="miniUrlCtrl.miniUrlLink.length==0">
                    Your minified URL will be shown here.
                </p> 
                <p ng-if="miniUrlCtrl.miniUrlLink.length!=0">
                    The URL location you have entered can be accessed by the following minified URL:<br/> 
                    <span ng-bind-html="miniUrlCtrl.miniUrlLink"></span>
                    <button tabindex="5" type="button" class="btn btn-success btn-xs" style="float:right" copy-to-clipboard="{{miniUrlCtrl.minifiedUrl}}">Copy To Clipboard</button>
                </p>
             </div>
             <div class="alert alert-danger" ng-if="miniUrlCtrl.errorString.length!=0">
                <p id="errorStringP">{{miniUrlCtrl.errorString}}</p>
             </div>
        </div>
    </div>
</div>